# Ignoruj všechno
*

# Povol .gitignore
!.gitignore

# Povol root YAML soubory
!configuration.yaml
!automations.yaml
!scripts.yaml
!scenes.yaml

# Povol heating (adresář + obsah)
!heating/
!heating/**

# === povol POUZE heating blueprinty ===
!blueprints/
!blueprints/automation/
!blueprints/automation/heating/
!blueprints/automation/heating/**
